<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Code</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Takeda ID Verification</h2>
        </div>
        <br>
        <p>Please use the following one-time passcode to complete your authentication</p>
        <br>
        <div class="otp-code">
            {{oneTimeCode}}
        </div>
    </div>
</body>
</html>
